@charset "utf-8";
/* CSS Document */
a { color:#0065b2;}

.enterbutton {
	text-align:center;
	vertical-align:middle;
	font-style:none; 
	}
	
.enterbutton a 
{
	border: 0px solid #448dae; 
	background: #2d479a url(../images/EnterForm/button.png) 50% 50% repeat-x; 
	font-weight: normal; 
	text-decoration:none;
	color: #ffffff; 
	display:block;
        border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
	
.enterbutton a:hover {
	border: 0px solid #448dae; 
    background: #4b7fe3 url(../images/EnterForm/button_hover.png) 50% 50% repeat-x; 
    font-weight: normal; 
    text-decoration:none;
    color: #ffffff;
	display:block;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
/*Disabled button*/
.disabledEnterbutton 
{
	text-align:center;
	font-style:none; 
	}
	
.disabledEnterbutton a 
{
	border: 0px solid #448dae; 
	background: #2d479a url(../images/EnterForm/disabledButton.png) 50% 50% repeat-x; 
	font-weight: normal; 
	text-decoration:none;
	color: #ffffff; 
	display:block;
        border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
	
.disabledEnterbutton a:hover {
	border: 0px solid #448dae; 
    background: #4b7fe3 url(../images/EnterForm/disabledButton.png) 50% 50% repeat-x; 
    font-weight: normal; 
    text-decoration:none;
    color: #ffffff;
	display:block;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
