#detailedData input
{
	font-family: Tahoma;
	font-size: 12px;
}
#detailedData .input
{
	font-family: Tahoma;
	font-size: 12px;
}

#tabs label
{
	font-family: Tahoma;
	font-size: 12px;
}

#generalDataLabels
{
    border: 1px solid #CCC;
    /*width: 350px;*/
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
	font-family: Tahoma;
	font-size: 11px;
}

.inputField
{
	border: 1px solid #eee;
	border-radius: 5px;
	padding-left: 5px;
	box-shadow: inset 1px 1px 1px #ccc;
	height: 22px;
}

.inputField-readonly
{
	border: none;
	border-bottom: 1px solid #ccc;
	background: #ddd;
	border-radius: none;
	padding-left: 5px;
	height: 22px;
}

#tabs-3
{
	background: #eeeeee;
}
#tabs-2
{
	background: #eeeeee;
}
#tabs-1
{
	background: #eeeeee;
}

#messageTableWrapper
{
    margin-bottom: 10px;
	border: 1px solid #CCC;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

#statisticTableWrapper
{
	border: 1px solid #CCC;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

#userTableWrapper
{
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

#invoiceTableWrapper
{
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

#journalTableWrapper
{
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

#outputId .wijmo-wijgrid-datarow input
{
	font-family: Tahoma;
	font-size: 11px;
}
#outputId .wijmo-wijgrid-datarow .inputField-readonly
{
	background-color: white;	
}

#outputId .wijmo-wijgrid-alternatingrow .inputField-readonly
{
	background-color:#eee;	
}

#outputId .input
{
	font-family:Tahoma;
	font-size:11px;
	width:90%;
}

#outputId .inputField-readonly
{
	border:none;
    border-radius:none;
    padding-left:5px;
    height:22px;
    font-size:12px;
    width:90%;
}

#firstGeneralRow
{
    width: 50%;
}

.title-section
{
    font-size:14px;
    font-weight: bold;
    margin: 5px;
}

.error-block-admin
{
    /*margin-left: 655px;
    margin-top: -25px;*/
    width: 265px;
    height: 15px;
    background: #EEE url(../images/EnterForm/formback.png) repeat-x;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #CCC solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    padding-left: 15px;
}

.error-admin
{
    font-family: Calibri, Georgia, Times New Roman; 
    font-size:12px;
    color: #bb0000;
    font-weight:bold;
}

.user-foto
{
    float:right;
    padding: 5px;
    margin: 5px;
    background: #fff;
    border:1px dashed #ccc;
    box-shadow: 0 0 5px #ccc;
}

.upload-foto
{
    float: left;
    width: 180px;
    padding: 0;
    margin: 5px 0;
}

.input-upload-foto
{
    width:100% !important;
    height: auto;
    padding:0;
    background: #DDD;
}