/* CSS Document */

html  {height:  100%;} 

body {
	margin: 0; 
	padding: 0;
	height:auto  !important;  min-height:100%;  height:100%;  position:relative;  
	font-family:Tahoma;
    font-size:11px;
	color:#333;}

a { color:#0065b2;}

#all {
	width:725px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-225px;
	margin-left:-350px;
    }

img {margin:0; padding:0;}
	
.searchBox{
width:65%;
	padding:0 3px 2px;
        border: 1px #ccc solid;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#333;
	height:20px;
	background:#f1f1f1 url(../images/EnterForm/input.png) top repeat-x;
	}	
	
.profileDropDown
{
	color:#333;
	font-size:14px;
	width:55%;
	padding:0 3px 2px;
	height:25px;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	vertical-align:middle;
}	
	
#contain {
	margin: 0 auto 0;
	width:725px;
	height:400px;
	background:url(../images/EnterForm/map.png) center center;
	}

#contain p { margin: 1px 0;}

#logo 
{
	margin: 40px 20px 0 0;
	width:44%; 
	float:left;
	text-align: right; 
	}

#form 
{
	padding:0px 0px 0px;
    margin-left:48%;
    margin-top:80px;
    width:335px;
    height:215px;
    background:#eee url(../images/EnterForm/formback.png) repeat-x; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #ccc solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#profiles {margin:11px 10px 0px 15px;
           }
#username {margin:6px 10px 5px 15px}
#password {margin:6px 10px 7px 15px}
	

#rem {margin: 0 15px 7px;}

.enterbutton {
	margin: 15px 0px 32px 15px;
	text-align:center;
}
	
.enterbutton a 
{
	border: 0px solid #448dae; 
	background: #2d479a url(../images/EnterForm/button.png) 50% 50% repeat-x; 
	font-weight: normal; 
	text-decoration:none;
	color: #ffffff; 
	display:block;
        border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
	
.enterbutton a:hover {
	border: 0px solid #448dae; 
    background: #4b7fe3 url(../images/EnterForm/button_hover.png) 50% 50% repeat-x; 
    font-weight: normal; 
    text-decoration:none;
    color: #ffffff;
	display:block;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
/*Disabled button*/
.disabledEnterbutton {
	margin: 15px 0px 32px 15px;
	text-align:center; 
}
	
.disabledEnterbutton a 
{
	border: 0px solid #448dae; 
	background: #2d479a url(../images/EnterForm/disabledButton.png) 50% 50% repeat-x; 
	font-weight: normal; 
	text-decoration:none;
	color: #ffffff; 
	display:block;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
}
	
/*.disabledEnterbutton a:hover {
	border: 0px solid #448dae; 
    background: #4b7fe3 url(../images/EnterForm/disabledButton_hover.png) 50% 50% repeat-x; 
    font-weight: normal; 
    text-decoration:none;
    color: #ffffff;
	display:block;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 0;
} */
/*****/	
#bottom { position:absolute;  bottom:0; width:100%; padding-bottom:10px; text-align:center;}
	

/*Validators*/
.validatorCalloutHighlight 
{
    background-color: #FFDAB9; 
}

.error-block
{
    margin-left: 48%;
    margin-top: 20px;
    width: 320px;
    height: 15px;    
    background: #EEE url(../images/EnterForm/formback.png) repeat-x;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #CCC solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    padding-left: 15px;
}

.error-block-status
{   
    width: 268px;
    height: 15px;    
    background: #EEE url(../images/EnterForm/formback.png) repeat-x;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #CCC solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    text-align:center;
}

.error
{
    font-family: Tahoma; 
    font-size:11px;
    color: #bb0000;
    font-weight:bold;
}                    	

.login
{
    float:left;
    width:110px;   
}

.remember
{
    float:left;
    margin: 0;
    padding: 0;
}

.remember-text
{
    padding-left: 20px;
}

.recover-password
{
    color: #0065B2;
    text-decoration: underline;
    cursor:pointer;
}

.disable
{
    pointer-events: none;
    cursor: default;
}