body
{
    font-family:Tahoma;
    font-size:11px;
}

#contentTableWrapper{
    border: 1px solid #ccc;
    border-top:none;
    border-bottom:none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow:hidden;
}

#contentTable
{
    width:100%;
    display:none;    
}

.document-icon
{
    background: url(icons/24x24/page_down.png);
    width:24px;
    height:24px;
    border:none;
    margin:4px;
    margin-right:0px;
    cursor: pointer;
}

.inputField
{
    border:1px solid #eee;
    border-radius:5px;
    padding-left:5px;
    box-shadow:inset 1px 1px 1px #ccc;
    height:22px;
    width:90%;
}

#contentSettings .inputField-readonly
{
    border:none;
    border-bottom:1px solid #ccc;
    background:#eee;
    border-radius:none;
    padding-left:5px;
    height:22px;
    width:90%;
}

#contentSettings input
{
    font-family:Tahoma;
    font-size:12px;
    width:90%;
}

button
{
    width:120px;   
}

#outputId-content
{
    overflow:auto;
    border: 1px solid #e7e7e7;
    border-radius:5px;    
}

#headerSettings
{
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-top: 15px;
    margin-left: 40px;
    text-shadow: 1px 1px 1px white; 
}



/* Errors */

.error-block
{
    margin-left: 655px;
    margin-top: -25px;
    width: 265px;
    height: 15px;
    background: #EEE url(../images/EnterForm/formback.png) repeat-x;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #CCC solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    padding-left: 15px;
}

.error-block-status
{   
    width: 268px;
    height: 15px;    
    background: #EEE url(../images/EnterForm/formback.png) repeat-x;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px #CCC solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    text-align:center;
}

.error
{
    font-family: Calibri, Georgia, Times New Roman; 
    font-size:12px;
    color: #bb0000;
    font-weight:bold;
}               


#periodSelection
{
    padding-left:10px;
    padding-top:10px;
    display:none;
}

#startDatePicker
{
    margin-left:10px;
    margin-right:10px;
}

#endDatePicker
{
    margin-left:10px;
    margin-right:10px;
}

.uploadPanel input
{
    margin:0px;
}

.uploadPanel select
{
    height:20px;
    margin:0px;
}


#contentTable .wijmo-wijgrid-alternatingrow .inputField-readonly
{
	background-color:#eee;	
}

#contentTable .inputField-readonly
{
	border:none;
    border-radius:none;
    padding-left:5px;
    height:22px;
    font-size:11px;
    width:90%;
}

#contentTable .input
{
	font-family:Tahoma;
	font-size:11px;
	width:90%;
}

#ContentContainer .wijmo-wijgrid-alternatingrow .inputField-readonly
{
	background-color:#eee;	
}

#ContentContainer .input
{
	font-family:Tahoma;
	font-size:11px;
	width:90%;
}

#ContentContainer .inputField-readonly
{
	border:none;
    border-radius:none;
    padding-left:5px;
    height:22px;
    font-size:12px;
    width:90%;
}

#RemindControlsTable input
{
	background-color:#fff;
	font-family:Tahoma;
	font-size:11px;
	width:90%;
}

.remove-icon
{
    background: url(icons/24x24/remove.png);
    width:24px;
    height:24px;
    border:none;
    margin:4px;
    margin-right:0px;
    cursor: pointer;
}

#parse-files
{
    display:none;
    margin-top:10px;
}

.loading-icon 
{
    background-image: url(icons/loading.gif);
    width:48px;
    height:48px;
}

.ui-widget-content
{
    border:none;
    /*border:1px solid #e4e4e4;*/
}

.wijmo-wijlist-ul
{
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.item-detail
{
    margin-left: 5px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

input
{
    margin:0;
}
