/************* GENERAL CSS ************/

body {
	margin: 0px;
	padding: 0px 2px;
	background: #FFFFFF;	
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	width:99%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#191970;
}

a {
	color:#3300FF;
}

a:hover 
{
	text-decoration: underline;
	color:#FF0000;
}

/************* HEADER STUFF ************/

#header {
	width: 99%;
	height: 50px;
	margin: 1px 5px;
	padding: 0px 5px;
	border: solid 1px #D3D3D3;
}


/************* MENU ************/

#menu {
	width: 99%;
	height: 3%;
	margin: 2px 5px 0px 5px;
	padding: 5px 5px 10px 5px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 5px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background-color: #333333;
}

/************* CONTENT ************/

#content {
	width: 99%;
	height:730px;
	margin: 0px 5px;
	padding: 0px 0.4%;
	/*border: solid 1px #D3D3D3;		*/
}

#content h2, #content h3 {
	font-weight: normal;
}

#content p {
	line-height: 150%;
}

#left 
{
	float: left;
    width: 28%;
    height: 100%;
	padding: 0px 0.4%;
}

#choises {
	float: right;
	width: 70%;
    height:8%;
	padding: 0px 0.4%;
	color: black;
}

#right {
	float: right;
	width: 71%;
	height:80%;
	color: black;
}
#resultAction
{
	width: 70%;
	float: right;
	min-height:8%;
	padding: 5px 0.4%;
}

/**************InsertCenter*******/
#center 
{	
    width: 920px;
	padding: 0px 20px 40px 20px;
	color: Gray;
}

/************* FOOTER ************/

#footer 
{
	 position:fixed;
     bottom:0;
     height:25px;
     width: 100%;
     border-top: 1px solid #666666;
     background: LightGray;
     font-size: 9px;
     text-align: center;
     color: red;
     border: solid 1px #D3D3D3;
}
#footer2 
{ 
    clear:both; 
	height:45px;
}

/******************************************modal popup*/
.modalPopup
{
	background-color: White;
	border-color:Gray;
	border-style:solid;
	border-width:3px;
	padding:3px;
	width:250px;
}
.modalBackgroung
{
	background-color:#F5F5F5;
	filter: alpha(opacity=70);
	opacity:0.7;
}

.popupControl
{
	background-color: #AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color:Black;
	border-width:2px;	
}
/*******************************************accordion****/
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: #00008B;
    background-color: #F5F5F5;
    height:6%;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-align:center;		
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.accordionContent
{
    background-color: #FFFFF0;
    color: Black;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.accordionLink
{
 background-color: #D3DEEF;
 color: white;
}
/**********************************ComboBox****/
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #ADD8E6;
    border: solid 1px Blue;
    border-right: 0px none;
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ADD8E6;
    border: solid 1px Blue;
}
/************************************************/
.green .ajax__progress_indicator
{
    background-image:url(progress_green.gif);
}